<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU-6hukikNvA579IpAj8e2Av5oDZcgTiY</string>
	<key>GCM_SENDER_ID</key>
	<string>480326542845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khafizov.DiplomProject</string>
	<key>PROJECT_ID</key>
	<string>diplomproject-a68b0</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomproject-a68b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480326542845:ios:afb553a67b2c57154d2594</string>
</dict>
</plist>